/*! @group Custom colors */
/* ========================================================================== */
$primary  : #88ccc8 !default;
$secondary: #a74a83 !default;
$third    : #596176 !default;
$fourth   : #75788b !default;
$five     : #fff;
/* @end  */

$border_2px: 2px solid $primary;

$transorm1: 0s 0.35s;
$transorm2: 0.35s 0s;

/*=============================
=            Media            =
=============================*/

$imac27 : 2560px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1140px;
$pad_v  : 960px;
$mobile : 570px;

$XXLarge  : (media: "(min-width: #{$imac21})");
$XLarge   : (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");
$Large    : (media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})");
$Medium   : (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g})");
$XSmall   : (media: "(max-width: #{$pad_v})");
$Small    : (media: "(max-width: #{$mobile})");
$HSmall   : (media: "(max-height: #{$mobile})");
$Landscape: (media: "(max-width: #{$pad_v}) and (orientation: landscape)");
$XPortrait: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g}) and (orientation: portrait)");

/*=====  End of Media  ======*/

$headerHeight: 4rem;

//Навигация и иконки
$nav-arrows: url('images/nav_arrows.png');
$nav-icons: url('images/nav_icons.png');

@mixin drop-shadow($x: 0, $y: 0, $blur: 5px, $alpha: .3) {
	-webkit-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow: 	$x $y $blur rgba(0, 0, 0, $alpha);
	box-shadow: 		$x $y $blur rgba(0, 0, 0, $alpha);
}

@mixin text-shadow ($x: 0, $y: 0, $blur: 0, $spread: 0, $alpha: .5) {
	text-shadow: $x $y $blur $spread rgba(35, 44, 48, $alpha);
}

@mixin inner-shadow($x: 0, $y: 0, $blur: 5px, $alpha: .2) {
	-webkit-box-shadow: inset $x $y $blur rgba(0, 67, 143, $alpha);
	-moz-box-shadow: 	inset $x $y $blur rgba(0, 67, 143, $alpha);
	box-shadow: 		inset $x $y $blur rgba(0, 67, 143, $alpha);
}

@mixin inner-shadow-button($x: 0, $y: 0, $blur: 5px, $color-shadow: darken($primary, 20%)) {
	-webkit-box-shadow: inset $x $y $blur $color-shadow;
	-moz-box-shadow: 	inset $x $y $blur $color-shadow;
	box-shadow: 		inset $x $y $blur $color-shadow;
}

@mixin gradient-variant($direct, $color1, $percent1, $color2, $percent2, $color3, $percent3, $color4, $percent4, $color5, $percent5, $color6, $percent6) {
	background: -webkit-linear-gradient($direct, $color1 $percent1, $color2 $percent2, $color3 $percent3, $color4 $percent4, $color5 $percent5, $color6 $percent6);
	background: -o-linear-gradient($direct, $color1 $percent1, $color2 $percent2, $color3 $percent3, $color4 $percent4, $color5 $percent5, $color6 $percent6);
	background: -ms-linear-gradient($direct, $color1 $percent1, $color2 $percent2, $color3 $percent3, $color4 $percent4, $color5 $percent5, $color6 $percent6);
	background: linear-gradient($direct, $color1 $percent1, $color2 $percent2, $color3 $percent3, $color4 $percent4, $color5 $percent5, $color6 $percent6);
	background: -moz-linear-gradient($direct, $color1 $percent1, $color2 $percent2, $color3 $percent3, $color4 $percent4, $color5 $percent5, $color6 $percent6);
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    bottom: auto;
    right: auto;
    @include translate(-50%, -50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include translate(-50%, 0);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include translate(0, -50%);
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($scale-ratio, $translateX, $translateY) {
	transform: translateX($translateX) translateY($translateY) scale($scale-ratio);
}

@mixin scale_rotate($scale-ratio, $rotate-deg) {
	transform: rotate($rotate-deg) scale($scale-ratio);
}

@mixin scale_transform($scale-ratio, $transform-x, $transform-y) {
	transform: translateX($transform-x) translateY($transform-y) scale($scale-ratio);
}

$color-1: #3a2c41; // Blackcurrant
$color-2: #eaf2e3; // Willow Brook
$color-3: #000000; // Black
$color-4: #c0a672; // Gimblet

// fonts
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'Uni Sans Thin CAPS';
  src: url('fonts/Uni_Sans_Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Uni_Sans_Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Uni_Sans_Thin.woff') format('woff'), /* Modern Browsers */
      url('fonts/Uni_Sans_Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('fonts/Uni_Sans_Thin.svg#1bd43dde46dc066a93356782823de17e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Uni Sans Heavy CAPS';
  src: url('fonts/Uni_Sans_Heavy.eot'); /* IE9 Compat Modes */
  src: url('fonts/Uni_Sans_Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Uni_Sans_Heavy.woff') format('woff'), /* Modern Browsers */
      url('fonts/Uni_Sans_Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('fonts/Uni_Sans_Heavy.svg#baac65bb1c1f97c88c153c7365f11a3e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

$primary-font: 'Sintony', sans-serif;

// center vertically and/or horizontally an absolute positioned element

// breakpoints

$S:     480px;
$M:     800px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Trebuchet MS", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-family-header:      'Uni Sans Thin CAPS' !default;
$font-family-header-bold: 'Uni Sans Heavy CAPS' !default;

$font-size-base:          1rem !default;
$font-size-large:         calc(1rem + 0.5vmax) !default; // ~18px
$font-size-small:         calc((1rem * 0.875)) !default; // ~12px

$font-size-h1:            calc(1rem + 3vmax) !default; // 60px
$font-size-h2:            calc(1rem + 2.75vmax) !default; // 60px
$font-size-h3:            calc(1rem + 2.15vmax) !default; // ~34px
$font-size-h4:            calc(1rem + 1.2vmax) !default; // ~24px
$font-size-h5:            $font-size-large !default;
$font-size-h6:            calc((1rem * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.4 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

body {
	color: $third;
	font-family: $font-family-base;

	p {
		font-size: $font-size-base;
	}

	ul {
		font-family: $font-family-base;
		line-height: $line-height-base;
	}

	@include grid-media($Small) {

		p {
			font-size: $font-size-large;
		}

		ul {
			font-size: $font-size-large;
			list-style: disc;
			padding-left: $font-size-large;
		}

		h1,h2,h3,h4 {
			font-family: $font-family-header-bold !important;
		}
	}
}

a {
	outline: none !important;
	text-decoration: none;
	cursor: pointer;
}

//Animations
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
