/*! @group Section content */
/* ========================================================================== */
.left-column {
	min-height: 100px;
	//border-top: $border_2px;
	border-right: $border_2px;
	text-align: right;
	//margin-top: 140px;
	animation-delay: 0.3s;
}

.center-column {
	width: 60rem;
	margin: 0 auto;
	// @include shift(3);
	border-bottom: $border_2px;
	text-align: center;
	//margin-top: 120px;
	animation-delay: 0.3s;

	.header-title {
		margin: 0 0 15px 0;
		padding: 0;

		h2, h3 {
			text-align: center;
		}
	}

	@include grid-media($Small) {
		width: 100%;
	}
}

.right-column {
	min-height: 200px;
	text-align: left;
	//margin-top: 140px;
	padding-top: 35px;
	padding-left: 2rem;
	animation-delay: 0.3s;

	h3 {
		font: {
			family: $font-family-header;
			size: $font-size-h4;
		};
		text-transform: uppercase;
		color: $third;
	}

	p {
		margin-top: 0;

		a {
			color: $primary;
			transition: 0.3s;

			&:hover {
				color: #fff;
			}
		}

		span {
			font-size: $font-size-large;
			color: $primary;
		}
	}

	ul {
		font-family: $font-family-base;
		color: #fff;
		margin-top: 5px;
		animation-duration: 1s;
		animation-delay: 0.7s;

		&.ul-dark {
			color: $third;

			li {
				margin-bottom: 5px;
				margin-left: 27px;
				line-height: $line-height-base;

				&:before {
					content: '•';
					margin-right: 5px;
					margin-left: -27px;
				}
			}
		}

		li {
			margin-bottom: 5px;
			margin-left: 13px;
			line-height: $line-height-base;

			&:before {
				content: '•';
				margin-right: 5px;
				margin-left: -13px;
			}
		}
	}
}
/* @end  */

/*! @group Content */
/* ========================================================================== */
%section {
	min-height: 100vh;
	// padding: 4em 0;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: flex-start;

/*
	@include grid-media($mobile) {
		padding: 4em 0;
	}
*/

	// @include grid-media($Large) {
	// 	padding: 2rem 0;
	// }
}

.cd-section {
	/* vertically align its content*/
	display: block;
	width: 100%;
	float: left;
	background: #fff;

	&__accordion {
		width: 100%;
		// min-height: 100vh;
		// margin: 0 1rem;
		display: none;
		visibility: hidden;
		overflow: hidden;
		position: relative;
		padding: 0;
		// background-color: $wrapperBackground;

		.panel {
			display: block;
			position: relative;
			overflow: hidden;
			// margin: 0 0 ($headerHeight / 4);

			&-header {
				height: $headerHeight + 1;
				display: flex;
				align-items: center;
				line-height: 1.2;
				padding: ($headerHeight / 4) $headerHeight ($headerHeight / 4) ($headerHeight / 4);
				cursor: pointer;
				background-color: $primary;

				h3 {
					font-family: $font-family-header-bold;
					font-size: $font-size-h4;
					color: $five;
				}

				i {
					color: $five;
					font-size: $font-size-h3;
				}
			}

			&-content {
				position: relative;
				height: 0;
				padding: ($headerHeight / 8) ($headerHeight / 4) ($headerHeight / 4);

				p {
					margin: 1rem 0;
				}

				ul {
					margin: 1rem 0;
				}
			}

			span i {
				padding-right: 0;
			}
		}

		.arrow {
			position: absolute;
			right: 2rem;
			font-weight: bold;
			transform: translateX(50%);
		}
	}

	@include grid-media($Small) {
		height: inherit;
		min-height: 100vh;
		position: relative;
		padding: ($headerHeight + 1) 0;

		&__accordion {
			display: block;
			visibility: visible;
		}
	}
}

.header-title {
	min-width: 200px;
	//height: 55px;
	//background-color: $primary;
	//background: url('images/header_title_back.svg') no-repeat;
	display: block;
	//margin: 0 80px 0 0;
	padding: 10px;
	transition: 0.5s;

	h2, h3 {
		font: {
			family: $font-family-header;
			size: $font-size-h1;
		};
		text-align: center;
		text-transform: uppercase;
		color: $third;
		animation-duration: 1.3s;
		visibility: hidden;

		span {
			font: {
				family: $font-family-header-bold;
				size: $font-size-h1;
			};
		}
	}

	h3 {
		font: {
			family: $font-family-header-bold;
		};
		animation-delay: 0.1s;
	}

	@include grid-media($Small) {


		h2, h3 {
			font-size: calc(1rem + 2.5vmax);
			visibility: visible;

			span {
				font-size: calc(1rem + 2.5vmax);
			}
		}
	}
}

p {
	font: {
		family: $font-family-base;
		size: $font-size-base;
	};
	line-height: $line-height-base;
	text-align: left;
	margin: 0 auto;
}

@include MQ(M) {

	h1, h2 {
		//font-size: 3rem;
	}

	p {
		//font-size: 2rem;
	}
}
/* @end  */
