.sample-magazine1 #book-wrapper{
	width:922px;
	margin:0 39px;
}

.magazine1{
	width:922px;
	height:600px;
	z-index:0;
}

.magazine1 .page{
	width:461px;
	height:600px;
	background:white;

	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.magazine1 .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	// background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine1 .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	// background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine1 .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sample-magazine1 .zoom-in .even .gradient,
.sample-magazine1 .zoom-in .odd .gradient{
	display:none;
}

.sample-magazine1 .zoom-in .next-button,
.sample-magazine1 .zoom-in .previous-button{
	display:none;
}

.show-bar .magazine1 .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	box-shadow:0 0 20px #ccc;
}

.magazine1 .next-button,
.magazine1 .previous-button{
	width:22px;
	height:600px;
	position:absolute;
	top:0;
}

.magazine1 .next-button{
	right:-22px;
	border-radius:0 15px 15px 0;
}

.magazine1 .previous-button{
	left:-22px;
	border-radius:15px 0 0 15px;
}

.magazine1 .previous-button-hover,
.magazine1 .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}

.magazine1 .previous-button-hover,
.magazine1 .previous-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-4px 284px;
	background-repeat:no-repeat;
}

.magazine1 .previous-button-down,
.magazine1 .next-button-down{
	background-color:rgba(0,0,0, 0.4);
}

.magazine1 .next-button-hover,
.magazine1 .next-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-38px 284px;
	background-repeat:no-repeat;
}