/*! @group Section Magazine */
/* ========================================================================== */
//Последний номер
#section0 {
	background-color: $fourth;
	@extend %section;
	//margin-top: 58px;

	@include grid-media($XSmall) {
		display: none;
	}

	@include grid-media($Small) {
		display: none;
	}
}

.magazine {
	@include grid-container;

	.left-column {
		@include grid-column(6);
		border: none;
		margin-top: 0;

		h2 {
			color: #fff;
			text-align: right;
			margin-top: 70px;
			animation-duration: 2.5s;
			animation-delay: 0.5s;

			@include grid-media($Medium) {
				visibility: visible;
			}

			@include grid-media($XSmall) {
				visibility: visible;
			}

			@include grid-media($Small) {
				visibility: visible;
			}
		}

		h3 {
			color: #fff;
			text-align: right;
			animation-duration: 2.5s;
			animation-delay: 0.75s;

			@include grid-media($Medium) {
				visibility: visible;
			}

			@include grid-media($XSmall) {
				visibility: visible;
			}

			@include grid-media($Small) {
				visibility: visible;
			}
		}
	}

	.left-text {
		padding-right: 15px;
		//padding-left: 120px;
		animation-delay: 10s;

		p {
			color: #fff;
			margin-top: 50px;
			text-align: right;
			animation-duration: 1s;
			animation-delay: 0.4s;
			visibility: hidden;
		}

		ul {
			font-family: $font-family-base;
			color: #fff;
			text-align: right;
			margin-top: 5px;
			animation-duration: 1s;
			animation-delay: 0.6s;
			visibility: hidden;

			li {
				margin-bottom: 5px;

				&:before {
					content: '•';
					margin-right: 5px;
				}
			}
		}
	}

	.cd-scroll-down {
		top: 90vh;
		position: absolute;
	}

	.number-preview {
		@include grid-column(6);
		// @include omega();
		animation-duration: 2.5s;
		animation-delay: 0.7s;
		visibility: hidden;

		.last-number-img {

			margin: 0 auto;
			text-align: center;
			position: relative;
			transition: 0.5s ease-in-out;

			a {
				min-width: 200px;
				height: 60vh;
				display: block;

				&:after {
					$width-number-after: 80px;
					content: "";
					width: $width-number-after;
					height: $width-number-after;
					position: absolute;
					float: left;
					margin-top: -($width-number-after/2);
					margin-left: -($width-number-after/2);
					top: 50%;
					left: 50%;
					border-radius: 50%;
					background-color: #fff;
					transition: 0.3s ease-in-out;
					transform: scale(0.5);
					opacity: 0;
				}

				&:hover {

					&:after {
						transform: scale(1);
						opacity: 1;
					}

					img {
						transform: scale(0.96);
						opacity: 0.35;
						//filter: blur(3px);
					}

					svg {
						transform: scale(1);
						opacity: 1;
						transition-delay: 0.1s;
					}
				}
			}

			img {
				width: auto;
				height: 100%;
				transition: 0.3s ease-in-out;
				//cursor: pointer;
			}

			svg {
				$width-svg-number: 56px;
				position: absolute;
				width: $width-svg-number;
				height: auto;
				fill: $fourth;
				margin-top: -($width-svg-number/2);
				margin-left: -($width-svg-number/2);
				top: 50%;
				left: 50%;
				z-index: 2000;
				transition: 0.3s ease-in-out;
				transform: scale(0.5);
				opacity: 0;

			}
		}
	}

	.samples {
		@include grid-column(6);
		animation-duration: 2.5s;
		animation-delay: 0.7s;
		display: none;
	}

	.show-samples .samples {
		display: block;
	}

	#mybook {
		width: 928px;
		height: 650px;
		margin: 0 auto;
		//@include drop-shadow($x: 5px, $y: 5px, $blur: 10px, $alpha: .3);

		.turn-page {
			background-color:#ccc;
			background-size:100% 100%;
		}

		&.shadow,
		.shadow {
			box-shadow: 0 4px 10px #666;
		}

		.loader{
			background-image: url(images/loader.gif);
			width:22px;
			height:22px;
			position:absolute;
			top:280px;
			left:219px;
		}

		.even .gradient {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
		}

		.odd .gradient {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-image:linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
		}
	}

	/* Arrow Controls */
	.flipbook-button {
		display: block;
	    width: 43px;
	    height: 103px;
	    position: absolute;
	    top: 40%;
	    cursor: pointer;
	    opacity: 0.5;
	    animation-duration: 2.5s;
		animation-delay: 0.7s;
		transition: 0.5s;

		&:hover {
		    opacity: 1;
	    }
	}

	.flipbook-left {
	    background: $nav-arrows 0 -210px no-repeat;
	    background-size: cover;
	    @extend .flipbook-button;
	    left: 40px;

	    &:hover {
		    left: 35px;
	    }

	    @include grid-media($Medium) {
			left: 0;

			&:hover {
			    left: 0;
		    }
		}
	}

	.flipbook-right {
		background: $nav-arrows 0 -315px no-repeat;
	    background-size: cover;
	    @extend .flipbook-button;
	    right: 40px;

	    &:hover {
		    right: 35px;
	    }

	    @include grid-media($Medium) {
			right: 0;

			&:hover {
			    right: 0;
		    }
		}
	}
}
/* @end  */
