/*! @group Masterslider Team */
/* ========================================================================== */
.master-slider {
	// -moz-transform: translate3d(0,0,1px);
	//@include gradient-variant(top, #fff, 0%, #fff, 22%, $primary, 22%, $primary, 78%, #fff, 78%, #fff, 100%);
	border-radius: 110px;
	height: 216px;

}

.ms-staff-carousel {
	max-width: 100%;
	overflow: hidden;
	margin: 50px auto 0;
	position: relative;

	.ms-view {
		overflow:visible;
		background-color: transparent;
		visibility: hidden;
	}

	.ms-nav-prev {
	    background: $nav-arrows 0 -210px no-repeat;
	    background-size: cover;
	    display: block;
	    width: 43px;
	    height: 103px;
	    left: -50px;
	    // margin-top: -44px;
	    position: absolute;
	    top: 50%;
		cursor: pointer;
		transform: translateY(-50%);
	}

	.ms-nav-next {
		background: $nav-arrows 0 -315px no-repeat;
	    background-size: cover;
	    display: block;
	    width: 43px;
	    height: 103px;
	    right: -63px;
		left: auto;
	    // margin-top: -44px;
	    position: absolute;
	    top: 50%;
		cursor: pointer;
		transform: translateY(-50%);
	}

	.ms-staff-info {
		text-align: center;
		margin-top: 30px;
		min-height: 150px;
		color: $third;
		overflow: auto;

		h3 {
			font: {
				family: $font-family-header;
				size: $font-size-h4;
			};
			margin:0px;
		}

		h4 {
			font: {
				family: $font-family-header-bold;
				size: $font-size-large;
			};
			margin: 1rem;
		}

		a {
			font: {
				family: $font-family-base;
				size: $font-size-base;
			};
			text-decoration: none;
			color: #fff;
			margin: 1rem;
			transition: 0.25s;

			&:hover {
				color: $secondary;
			}
		}

		.ms-socials {
		    list-style: none;
		    display: inline-block;
		    padding: 0;
		    margin: 15px 0 0 0;
		    text-shadow: none;
		    zoom: 1;
	        *display: inline;

	        li {
				float: left;

				a {
				    text-indent: 9999px;
				    width: 30px;
				    height: 30px;
				    background: url('images/social_icons.svg');
				    background-size: cover;
				    margin: 0 10px;
				    display: block;
				    transition: 0.25s;

				    &:hover {
					    transform: scale(1.2);
				    }
				}
			}

			.ms-ico-fb a {
				background-position: 0px 0px;
			}

			.ms-ico-tw a {
				background-position: -30px 0px;
			}

			.ms-ico-gp a {
				background-position: -60px 0px;
			}
		}
	}

	&.ms-round {

		 .ms-slide-bgcont {
			border-radius: 5000px;
			border: solid 8px #fff;
			margin: 0 -8px;
		}

		.ms-nav-prev,
		.ms-nav-next {
			background-color:transparent;
			box-shadow : none;
			left: -80px;
		}

		.ms-nav-next {
		    left:auto;
		    right: -90px
		}
	}

	@include grid-media($Small) {

		.ms-view {
			visibility: visible;
		}

		.ms-nav-prev {
			left: -35px !important;
		}

		.ms-nav-next {
			right: -45px !important;
		}

		&.ms-round {

			.ms-slide-bgcont {
				border: none;
				margin:0;
			}
		}
	}
}

.ms-info {
	width: 60%;
	margin: 30px auto 0;
	padding-bottom: 30px;
	//visibility: hidden;
	//border-bottom: $border_2px;

	p {
		text-align: center;
	}

	@include grid-media($Small) {
		width: 100%;
	}
}

/* @end  */
